/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #777;
  margin: 0 auto;
 }

.nav {
  background: #DFDFDF;
  display: block;
}

.nav ul {
  margin: 0 auto;
}

.nav li {
  display: inline-block;
  padding: 15px;
}

.nav a {
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #777;
  font-weight: 700;
}

.nav a:hover {
    color: #A4A4A4;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
 }

.content {
  display: inline-block;
  width: 70%;
  padding-top: 50px;
  margin-left: 20px;
}

.sidebar {
  width: 20%;
  float: left;
  padding: 20px;
  margin: 10px;
}

.sidebar_post {
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  border-bottom: 1px #7a7c7e solid;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.custom-layout {
  font-size: .8em;
  background: #DFDFDF;
  padding: 50px;
}

h1 {
  margin: 20px 0px 0px 0px;
}

h1 a {
  color: #777;
  text-decoration: none;
}

h2 {
  margin: 0px 0px 20px 0px;
}

h3 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.new-post {
  display: table;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  background-color: #777;
  color: white;
}

.post {
  margin-bottom: 2em;
  border-bottom: 1px #7a7c7e solid;
  padding-bottom: 3em;
}

.post p {
  margin-bottom: 2em;
  font-size: .75em;
  line-height: 1.75em;
}

.post-header, .post-edit-delete {
  display: block;
}

.post-header {
  margin-bottom: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
  padding: 0px 80px;
}

.post-header > span {
  display: block;
  line-height: 1.25em;
}

.post-header a, .container a {
  color: #777;;
  text-decoration: none;
}

.post-header p {
  font-size: .7em;
  margin: 5px;
  color: #BBB;
}

.post-posted-by {
  font-weight: 100;
  color: black;
}

.post-photo {
  width: 100%;
}

.read-more {
  margin-bottom: 1em;
}

.read-more a {
  float: left;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  line-height: 20px;
  color: white;
  background-color: #777;
}

.comment {
  margin: 10px auto;
  background: #F5F5F5;
  padding: 5px 30px;
}

.comment p {
  line-height: 0;
}

.icon-photo {
  width: 25px;
  margin-bottom: -4px;
}

.icon-edit {
  width: 30px;
  margin-bottom: -7px;
}

.icon-logo {
  width: 110%;
  position: relative;
  left: -40px;
  top: -10px;
}

.icon-photo, .icon-edit, .icon-logo {
  opacity: .7;
}

input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
 }

input[type=submit] {
  width: auto;
  padding: 9px 15px;
  background-color: gray;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
 }

.site-info {
  display: inline-block;
  width: 100%;
  padding: 20px 0px 50px 0px;
  text-align: center;
  font-size: .8em;
}

.site-info p {
  display: inline-block;
  margin: 5px;
}
